.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(229, 231, 233);
}

.main-content {
    margin: 0 1rem;
    color: rgb(46, 64, 83);
    max-width: 50rem;
}

nav {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


li a {
    text-decoration: none;
    color: rgb(211, 84, 0);
}

ul {
    list-style: none;
}

p {
    font-size: 16px;
}

img {
    max-width: 80%;
    margin: 2rem;
    display: block;
}

header {
    margin: 0 auto;
    font-family: 'Righteous', cursive;
    letter-spacing: .1rem;
    color: rgb(211, 84, 0);
    font-size: 1.2rem;
}

button {
    display: block;
    margin: 10px auto 20px auto;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    color: rgb(187, 35, 35);
    background-color: rgb(255, 255, 255);
}

button:hover {
    box-shadow: 0 0 1rem rgb(46, 64, 83);
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#intro {
    
    font-weight: 500;
}
#description {
    color: rgb(46, 64, 83);
    font-weight: 400;
}

#pic-title {
    font-weight: 600;
    padding: .5rem;
}






